
body {
  margin:0;
  background-color: rgb(255, 252, 237);
}
P{
  font-family: "Carrois Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  margin-left: 22px;
}
.logo {
  padding-left: 15px;
  padding-top: 10px;
  display: inline;
}
.header {
  margin:0;
  display:block;
  width: 100vw;
}
.center-nav {
  padding-right: 5rem;
}
.navbar {
  font-family: "Carrois Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  align-items: center;
  display: flex; 
  justify-content: space-between;
  background-color: #042742;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  height: max-content;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 18px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
  transition: background 0.25s;
}
.title{
  font-family: "Carrois Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin: 5px;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}
.name{
  font-family: "Carrois Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin: 5px;
  margin-top: 0;
  padding: 10px;
  text-align: center;
}
.vid-right{
  display: inline;
  align-content: right;
}
.heading-title{
  text-decoration: underline;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 6px;
  padding-left: 28px;
}
.about-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
.video-container {
  flex: 1;
  margin-right: 20px;
  padding-left: 30px;
}
.text-container {
  flex: 2;
}
.text-body {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 30px;
}
.table{
  padding: 40px;
  padding-top: 0;
  margin-top:0px;
  margin-left: auto;
  margin-right: auto;
}
.column{
  padding: 7px;
}
.main {
  padding: 0;
  margin-top: 130px;
  height: max-content;
  width: min-content;
}
.section-pad{
  padding-top: 160px; 
  margin-top: -160px;
  margin-bottom: 40px;
}
.scroll-character {
  box-shadow: rgb(213, 210, 190) 0 20px 12px -6px;
  background-color: rgb(26, 17, 17);
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  margin-top:40px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.scroll-character img {
  padding: 10px;
}
.caption{
  display:inline;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
}
.center-audio{
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
td{
  text-align: center;
}
li{
  padding-left: 0px;
}
ol{
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  padding-left: 70px;
}
ul{
  padding-left: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  list-style-type: square ;
}
